body {
    font-family: Copperplate, Arial, sans-serif;
    text-align: center;
    padding: 20px;
    transition: background 0.3s, color 0.3s;
    transition: background;
    transition-duration: 3s;
    background: #f8f9fa;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    transition: background;
    transition-duration: 3s;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.profile-pic:hover {
    box-shadow: 0 0 15px 10px DarkOrchid;
    width: 160px;
    height: 160px;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
    background: MediumSlateBlue;
    color: white;
    border-radius: 5px;
    
}

button:hover {
    background: MediumSlateBlue;
    box-shadow: 0 0 15px 7px MediumPurple;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.dark-mode {
    transition: background-color;
    transition-duration: 3s;
    background-color: #a9b3bc;
    color: white;
}

.dark-mode .container {
    transition: background;
    transition-duration: 3s;
    background: #708090;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

